<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
    <div class="card">
        <h2>Cadastro</h2>

        <!-- Mostra mensagem de erro se o login falhar -->
        <div class="erro" th:if="${erro}" th:text="${erro}"></div>

        <!-- Formulário que envia POST para /login -->
        <form action="/cadastro" method="post">

            <label>Email</label>
            <input type="email" name="email" placeholder="seu@email.com" required />

            <label>Senha</label>
            <input type="password" name="senha" placeholder="••••••" required />

            <button type="submit">cadastrar</button>
        </form>
        <div class="link">
            <a href="/login">Já tem uma conta?</a>
        </div>
    </div>
</body>
</html>
