<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Login - Meu Ritmo</title>
</head>
<body>
<div class="card">
    <h2>Entrar</h2>

    <div class="erro" th:if="${erro}" th:text="${erro}"></div>

    <form action="/login" method="post">
        <label>Email</label>
        <input type="email" name="email" placeholder="seu@email.com" required />

        <label>Senha</label>
        <input type="password" name="senha" placeholder="••••••" required />

        <button type="submit">Entrar</button>
    </form>

    <div class="link">
        Não tem conta? <a href="/cadastro">Cadastre-se aqui</a>
    </div>
</div>
</body>
</html>